version: '3'

services:
  scylla1:
    image: scylladb/scylla:latest
    container_name: scylla1
    command: --seeds=scylla1  --smp 2
    ports:
      - "9042:9042"
    networks:
      scylla_net:
        ipv4_address: 172.28.1.1
    deploy:
      resources:
        limits:
          cpus: "4.0"
          memory: 16gb
    volumes:
      - ./volumes/scylla1:/var/lib/scylla
  scylla2:
    image: scylladb/scylla:latest
    container_name: scylla2
    command: --seeds=scylla1 --smp 2
    ports:
      - "9043:9042"
    networks:
      scylla_net:
        ipv4_address: 172.28.1.2
    deploy:
      resources:
        limits:
          cpus: "4.0"
          memory: 16gb
    volumes:
      - ./volumes/scylla2:/var/lib/scylla

  scylla3:
    image: scylladb/scylla:latest
    container_name: scylla3
    command: --seeds=scylla1 --smp 2
    ports:
      - "9044:9042"
    networks:
      scylla_net:
        ipv4_address: 172.28.1.3
    deploy:
      resources:
        limits:
          cpus: "4.0"
          memory: 16gb
    volumes:
      - ./volumes/scylla3:/var/lib/scylla

  #-------------------------------------------------------------------------------------------------
  redis:
    image: valkey/valkey:latest
    ports:
      - "6379:6379"

  #-------------------------------------------------------------------------------------------------
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    environment:
      - node.name=elasticsearch
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true # along with the memlock settings below, disables swapping
      - "ES_JAVA_OPTS=-Xms4096m -Xmx4096m" # 4GB of RAM
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    networks:
      - esnet

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    networks:
      - esnet

#---------------------------------------------------------------------------------------------------
networks:
  scylla_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
  esnet:
